h1, .search-container {
            text-align: center;
            color: black;
        }
        .search-container input {
            padding: 20px;
            width: 90%;
            height: 60px;
            border-radius: 30px;
            border: 3px solid #444;
            background:#01dfff;
            box-shadow: 8px 8px 15px #44dede, -8px -8px 15px #58ffff;
            transition: all 0.3s ease-in-out;
            font-size: 16px;
            color: #333;
            text-align: center;
        }
        .search-container input:focus {
            box-shadow: inset 8px 8px 15px #ffffff, inset -8px -8px 15px #ffffff, 
                        8px 8px 15px #44dede, -8px -8px 15px #58ffff;
            outline: none;
            border: 3px solid #333;
        }
        .table-container {
            width: 100%;
            overflow-x: auto;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            color: black;
            background: white;
				border: 2px solid black;
				

        }
table th, table td {
    border: 2px solid black;
	
}

table th {
    border: 2px solid white;
    background-color: black;
    color: white;
    font-weight: bold;
	
}

table td {
    font-size: 20px;
		font-family: 'Roboto', sans-serif;
}

        th, td {
            border: 2px solid white;
            padding: 10px;
            text-align: center;
            white-space: nowrap;
				
        }
        th {
           background: black;
				color: white;
				font-weight: bold;
				font-size: 25px;

        }
        .table-plastik th {
            background:black;
        }
        .sub-title {
            text-align: center;
            font-weight: bold;
            font-size: 500px;
            padding: 15px 0;
            color: black;
            background: #f0f0f0;
        }
    td[contenteditable="true"] {
        transition: background-color 0.3s ease;
    }
    td[contenteditable="true"]:focus {
        background-color: #e0f7fa;
        outline: none;
    }
    .changed {
        background-color: #ffeb3b !important;
    }


 .save-button, .delete-button {
            font-size: 20px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        .save-button:hover, .delete-button:hover {
            transform: scale(1.2);
        }

     .date-input {
    background: transparent;
    border: none; 
    font-size: inherit; 
    padding: 0;
    width: 100%;
	 color: black;
    
}  
    .font-bold-block {
        font-weight: 900;
        font-size: 1.2rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

#downloadButton {
    display: block;
    margin: 20px auto;
    text-align: center;
    background-color: transparent;
    color: #01dfff;
    border: 2px solid #01dfff;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
}
